body,
html,
#root {
  height: 100%;
  overflow-x: hidden;
}

.App {
  background-image: linear-gradient(#282c52,#282c34);
  
  display: block;
  
  width: 100vw;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  align-items: center;
}
